@model List<ninja.Models.InvoiceDetailViewModel>

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Invoice Details</h2>


<table id="details" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="active">Description</th>
            <th class="active">Amount</th>
            <th class="active">Unit Price</th>
            <th class="active">Total Price</th>
            <th class="active">Total Price With Taxes</th>
            <th class="active">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invoice in Model)
        {
            <tr>
                <td>@invoice.Description</td>
                <td>@invoice.Amount</td>
                <td>@invoice.UnitPrice</td>
                <td>@invoice.TotalPrice</td>
                <td>@invoice.TotalPriceWithTaxes</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "InvoiceDetail", new { id = @invoice.Id, invoiceId = @invoice.InvoiceId }, new { @class = "btn btn-warning btn-sm" })
                    <button class='btn btn-danger btn-sm js-delete' data-detail-id=@invoice.Id data-detail-invoiceId=@invoice.InvoiceId>Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Back", "Edit", "Invoice", new { id = Model.First().InvoiceId }, new { @class = "btn btn-default" })
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //Delete row
            $("#details").on("click", ".js-delete", function (e) {
                let btn = $(e.target);
                bootbox.confirm({
                    message: "¿Are you sure?",
                    buttons: {
                        confirm: {
                            label: "Yes",
                            className: "btn btn-success"
                        },
                        cancel: {
                            label: "No",
                            className: "btn btn-danger"
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/invoicedetail/" + btn.attr('data-detail-id') + "?invoiceId=" + btn.attr('data-detail-invoiceId'),
                                method: "DELETE",
                                success: function () {
                                    debugger;
                                    btn.parents("tr").remove();
                                }
                            })
                        }
                    }
                })
            });
        })
    </script>
}